**/.idea/**
**/build*/**
**/res/**
**/executionHistory/**
**/checksums/**
**/dependencies-accessors/**
**/fileChanges/last-build.bin
**/fileHashes/fileHashes.bin
**/fileHashes/fileHashes.lock
**/fileHashes/resourceHashesCache.bin
**/file-system.probe
# .gradle/

*.iml
*.klib
*.kotlin_metadata
*.class
*.jar
*.war
*.ear

FE-Kotlin-MP/gradle-8.3-bin.zip

obsoleted/*
**/*obsoleted*
**/typescript*
